@import 'variables';
@import 'mixins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// *Utilities
.container {
	@include contain;
}

.t-center {
	text-align: center;
}

// applies shadow to buttons
.shadow-btn {
	box-shadow: -5px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

.p-colour {
	color: $primary-colour;
}

.pad-top {
	padding-top: 4.688rem;
}

.t-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.active {
	background-color: $primary-colour;
	color: #fff;
}

.nav-links .active-text {
	color: $primary-colour;
}

.btn {
	@include btnFormat;
}

.btn-hover:hover {
	background-color: $btn-hover;
}

.intro-title {
	@include intro;
}

.food {
	// vertically align the horizontal line next to the h2 element
	&::after {
		content: '';
		display: block;
		height: 1px;
		width: 40%;
		background-color: #3a414e;
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
	}
}

.description {
	font-size: 1.625rem;
}

// *Image Scroll Transitioning
.img-1 {
	transform: translateX(-450px);
	opacity: 0;
	transition: 0.8s all ease-in-out;
}

.img-1-appear {
	opacity: 1;
	transform: translateX(0px);
}

.img-2 {
	transform: translateX(400px);
	opacity: 0;
	transition: 0.8s all ease-in-out;
}

.img-2-appear {
	opacity: 1;
	transform: translateX(0px);
}

.overlay-img:first-of-type {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.overlay-img:last-of-type {
	z-index: 1;
	grid-column: 2/ 4;
	grid-row: 2 / 4;
}

// *MAP
#map {
	height: 60vh;
	width: 100%;
}

.footer {
	text-align: center;
	margin: auto;
	background: $background-colour;
	padding: 7.5rem 7.5rem 3.125rem 7.5rem;

	p:last-child {
		margin-top: 2rem;
	}
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1.25rem;
	font-family: 'Opens Sans';
	font-size: 1.1rem;

	ul {
		font-family: 'Josefin Sans';
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: 10px;
		font-family: 'Josefin Sans';
	}

	li {
		padding-bottom: 1rem;

		a {
			color: $primary-colour;
		}

		span {
			font-weight: 600;
		}
	}
}

// *MEDIA QUERIES
@media screen and (min-width: 1200px) {
	.description {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 90%;
	}

	.service-content {
		grid-template-columns: repeat(2, 1fr);
	}

	// *BLOGS
	.blog-content {
		grid-template-columns: repeat(2, 1fr);
	}

	// *FOOTER
	.footer .footer-cols {
		grid-template-columns: 1fr;
	}
}

//*Smartphones
@media only screen and (max-width: 400px) {
	.about {
		flex-direction: column;
		padding-top: 3.125rem;

		.about-content {
			padding: 3.125rem 0 0 3.125rem;

			p {
				font-size: 0.875rem;
			}
		}
	}

	// *MENU
	.tabs .tabs-container .tab-item {
		padding: 1rem;
		font-size: 1rem;
	}
}
