@import "variables";

// *NAVIGATION
.name {
  font-size: 1.5rem;
  /* removes the default top and bottom margin */
  margin: 0;
  color: $primary-colour;
}

.main-header {
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.nav-links {
  justify-content: space-around;

  li a {
    color: #fff;
    font-size: 1.25rem;
    transition: all 0.5s ease;

    &:hover {
      color: $primary-colour;
    }
  }

  a {
    padding: 0.625rem 0.938rem;
  }
}
